In [3]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code
Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [8]:
os.listdir('/gdrive/My Drive/bitcoin-historical-data')

['coincheckJPY_1-min_data_2014-10-31_to_2018-06-27.csv',
 'coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv',
 'bitstampUSD_1-min_data_2012-01-01_to_2018-06-27.csv',
 'bitflyerJPY_1-min_data_2017-07-04_to_2018-06-27.csv']

In [0]:
df = pd.read_csv("/gdrive/My Drive/bitcoin-historical-data/coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv")

In [13]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [16]:
df.describe()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06
mean,1.475477e+09,2.675297e+03,2.676668e+03,2.673809e+03,2.675296e+03,7.655652e+00,3.362466e+04,2.675235e+03
std,3.152261e+07,3.825363e+03,3.827901e+03,3.822689e+03,3.825395e+03,1.808389e+01,1.414530e+05,3.825293e+03
min,1.417412e+09,6.000000e-02,6.000000e-02,6.000000e-02,6.000000e-02,1.000000e-08,2.641700e-06,6.000000e-02
25%,1.448199e+09,3.632800e+02,3.633800e+02,3.631900e+02,3.632700e+02,7.821000e-01,4.139733e+02,3.632763e+02
50%,1.475485e+09,6.665400e+02,6.666900e+02,6.663400e+02,6.665300e+02,2.590000e+00,2.171610e+03,6.665237e+02
75%,1.502772e+09,3.666010e+03,3.668000e+03,3.663780e+03,3.665940e+03,7.540866e+00,1.456778e+04,3.665488e+03
max,1.530058e+09,1.989199e+04,1.989199e+04,1.989198e+04,1.989199e+04,1.563267e+03,1.997076e+07,1.989199e+04